<launch>
  <node pkg="robot_sim" name="control_node"  type="control_node.py" output="screen"> 
  </node>
  <node pkg="robot_sim" name="add_task" type="add_task.py" output="screen">
  </node>
  <rosparam command="load" file="$(find robot_sim)/params/robots.yaml" />
</launch>

<!--name can be the name of the node that differs of the name of the executabe -->
<!--difference, arg is a variable inside the launch file/ param is a parameter to the node-->